/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: fixed;
    width: auto;
    height: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-family: "Dancing Script"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
  }
  
  
  .container .btn:hover {
    background-color: transparent;
  }
/*Fade in*/
  .fadeImage {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
    display: block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/*Swiper*/
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align: center;
  display: block;
  margin: 20px;
  font-size: 21px;
}

h2 { 
  font-family: "Dancing Script"; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
}

.buttonfnt { 
  font-family: "Dancing Script"; 
  font-size: 32px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
}

<<<<<<< HEAD
.namefnt { 
  font-family: "Dancing Script"; 
  font-size: 26px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color:white;
  letter-spacing: 0.75px;
}

.eventfnttitle { 
  font-family: "Montserrat"; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  letter-spacing: 2px;
  color: white;
}

.eventfntsub { 
  font-family: "Montserrat"; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  letter-spacing: 0px;
  color: white;
}

=======
>>>>>>> c888b944b8f0eadcdc920a922f0b7032c9638567
.buttonfntbck { 
  font-family: "Dancing Script"; 
  font-size: 64px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
}

.nav-trans {
  background-color: transparent !important;
}

<<<<<<< HEAD
.device-android .ent-content {
  margin-top: 0vh;
}

.ent-content-height {
  height: 100%;
  overflow: scroll;
}

.swiper-sliders {
  height:auto;
}

.swiper-slide {
  background: transparent;
}

=======
/* for expandable cards */
:root {
  --f7-card-bg-color: #fff;
  --f7-card-outline-border-color: rgba(0, 0, 0, 0.12);
  --f7-card-border-radius: 4px;
  --f7-card-font-size: inherit;
  --f7-card-header-text-color: inherit;
  --f7-card-header-font-weight: 400;
  --f7-card-header-border-color: #e1e1e1;
  --f7-card-footer-border-color: #e1e1e1;
  --f7-card-footer-font-weight: 400;
  --f7-card-footer-font-size: inherit;
  --f7-card-expandable-bg-color: #fff;
  --f7-card-expandable-font-size: 16px;
  --f7-card-expandable-tablet-width: 670px;
  --f7-card-expandable-tablet-height: 670px;
}
:root .theme-dark,
:root.theme-dark {
  --f7-card-bg-color: #1c1c1d;
  --f7-card-outline-border-color: #282829;
  --f7-card-header-border-color: #282829;
  --f7-card-footer-border-color: #282829;
  --f7-card-footer-text-color: #8E8E93;
}
.ios {
  --f7-card-margin-horizontal: 10px;
  --f7-card-margin-vertical: 10px;
  --f7-card-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  --f7-card-content-padding-horizontal: 15px;
  --f7-card-content-padding-vertical: 15px;
  --f7-card-header-font-size: 17px;
  --f7-card-header-padding-vertical: 10px;
  --f7-card-header-padding-horizontal: 15px;
  --f7-card-header-min-height: 44px;
  --f7-card-footer-text-color: #6d6d72;
  --f7-card-footer-padding-vertical: 10px;
  --f7-card-footer-padding-horizontal: 15px;
  --f7-card-footer-min-height: 44px;
  --f7-card-expandable-margin-horizontal: 20px;
  --f7-card-expandable-margin-vertical: 30px;
  --f7-card-expandable-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  --f7-card-expandable-border-radius: 15px;
  --f7-card-expandable-tablet-border-radius: 5px;
  --f7-card-expandable-header-font-size: 27px;
  --f7-card-expandable-header-font-weight: bold;
}
.md {
  --f7-card-margin-horizontal: 8px;
  --f7-card-margin-vertical: 8px;
  --f7-card-box-shadow: var(--f7-elevation-1);
  --f7-card-content-padding-horizontal: 16px;
  --f7-card-content-padding-vertical: 16px;
  --f7-card-header-font-size: 16px;
  --f7-card-header-padding-vertical: 4px;
  --f7-card-header-padding-horizontal: 16px;
  --f7-card-header-min-height: 48px;
  --f7-card-footer-text-color: #757575;
  --f7-card-footer-padding-vertical: 4px;
  --f7-card-footer-padding-horizontal: 16px;
  --f7-card-footer-min-height: 48px;
  --f7-card-expandable-margin-horizontal: 12px;
  --f7-card-expandable-margin-vertical: 24px;
  --f7-card-expandable-box-shadow: var(--f7-elevation-10);
  --f7-card-expandable-border-radius: 8px;
  --f7-card-expandable-tablet-border-radius: 4px;
  --f7-card-expandable-header-font-size: 24px;
  --f7-card-expandable-header-font-weight: 500;
}
>>>>>>> c888b944b8f0eadcdc920a922f0b7032c9638567
